@tailwind base;
@tailwind components;
@tailwind utilities;
// @import '~flag-icon-css/css/flag-icon.min.css';
@import "/node_modules/flag-icons/css/flag-icons.min.css";


:root {
  --background-main-color: #f2f2f2;
  --green: #02BD66;
}

body {
  margin: 0;
  padding: 0;

  color: #373736;
  background-color: var(--background-main-color); 
}